@* Partial: mantenimiento.cshtml *@
<div class="modal fade" id="maintenanceModal" tabindex="-1" aria-labelledby="maintenanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f37021; color: white;">
                <h5 class="modal-title" id="maintenanceModalLabel">Mantenimiento del Servidor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: #333; font-size: 16px; text-align: justify;">
                    Nuestro servidor está actualmente en mantenimiento. Estamos trabajando para mejorar nuestros servicios y estaremos de vuelta pronto. Gracias por tu paciencia.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
