@{
    ViewData["Title"] = "Nosotros";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="row justify-content-center mb-4 mt-4 px-2">
    <div class="col-md-8 text-center border shadow p-4">
        <h4 style="font-family: 'Ruda', sans-serif; color: #f37021;" class="mb-3">Nuestra Historia</h4>

        <p>Desde nuestra fundación en 2006, College Kids se ha comprometido a proporcionar una educación excepcional y enriquecedora para nuestros estudiantes en Los Olivos, Lima, Perú. Nos enorgullece ser una institución educativa que ha crecido con la comunidad, brindando a nuestros estudiantes una base sólida para su desarrollo académico y personal.</p>
        <p>En College Kids, entendemos la importancia de los primeros años de educación en la formación de futuros líderes. Nos centramos en los niveles de inicial y primaria, ofreciendo un ambiente educativo estimulante y acogedor donde cada estudiante puede explorar su potencial al máximo.</p>
    </div>
</div>

<div class="row justify-content-center mb-4 px-4">
    <div class="col-md-8 text-center border shadow p-4">

        <h4 style="font-family: 'Ruda', sans-serif; color: #f37021;" class="mb-3">Misión</h4>
        <p>En College Kids, nos dedicamos a proporcionar una educación integral que nutre el desarrollo académico y personal de cada estudiante. Buscamos cultivar un ambiente de aprendizaje inclusivo, fomentando la creatividad, el pensamiento crítico y la excelencia académica. Nuestra misión es inspirar a los niños a descubrir su propio potencial y a convertirse en ciudadanos responsables y comprometidos con la sociedad.</p>


    </div>

</div>

<div class="row justify-content-center mb-4 px-2">
    <div class="col-md-8 text-center border shadow p-4">

        <h4 style="font-family: 'Ruda', sans-serif; color: #05428d;" class="mb-3">Visión</h4>
        <p>
            Nos visualizamos como un referente en la educación, destacando por nuestro compromiso con la innovación pedagógica y la excelencia académica. Aspiramos a formar líderes del mañana, empoderados con habilidades y valores que les permitan enfrentar los desafíos del mundo globalizado.
            En College Kids, nuestra visión es ser reconocidos por brindar una educación de calidad que trascienda las aulas y deje una huella positiva en la vida de nuestros estudiantes.
        </p>


    </div>

</div>