@{
    ViewData["Title"] = "Panel de Administración";
}

<h1>Bienvenido al Panel de Administración</h1>

<p>Esta es tu área administrativa. Desde aquí puedes gestionar el sistema.</p>

<ul>
    <li><a href="/Panel/Usuarios">Gestión de Usuarios(aun no funciona)</a></li>
@*     <li><a href="/Home/Index">Ir al inicio</a></li>
 *@</ul>
